  <h2>Submitted forms</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Student ID</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Adress</th>
          <th>City</th>
          <th>State</th>
          <th>ZIP</th>
          <th>Telephone</th>
          <th>Submission date</th>
          <th>Things liked</th>
          <th>Intrested</th>
          <th>recommend</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students | async">
          <td>{{student.id}}</td>
          <td>{{student.firstName}}</td>
          <td>{{student.lastName}}</td>
          <td>{{student.emailId}}</td>
          <td>{{student.address}}</td>
          <td>{{student.city}}</td>
          <td>{{student.state}}</td>
          <td>{{student.zip}}</td>
          <td>{{student.tel}}</td>
          <td>{{student.sdate}}</td>
          <td>{{student.thingsLiked}}</td>
          <td>{{student.interest}}</td>
          <td>{{student.recommend}}</td>
          
       </tr>
      </tbody>
    </table>