
.row {
    padding: 20px;
  }
  h2, h4 {
    color:black;
    padding-left: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
      color:black;
  }
  
  input[type=submit],input[type=button] {
    background-color: green;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float:center;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  input[type=text], select, textarea, input[type=email],input[type=url],input[type=date],input[type=list]{
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  } 
  .mb-3 {
    padding: 20px;

  }   

  input[type=submit],input[type=button] {
    background-color:black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float:center;
  }
  
  input[type=submit]:hover,input[type=button]:hover {
    background-color: gray;
  }
  